<html>
  <body>
    {% include "header.html" %}

    <h1 style="color: gray">Hola Amig@, como estas</h1>
    <h2 style="color: green">Tu nombre &eacute;s {{name}} {{apellido}}</h2>
    <h2 style="color: green">El d&iacute;a de hoy es {{fecha_actual.day}} / {{fecha_actual.month}} / {{fecha_actual.year}}</h2>
    <ul>
      {% if temas %}
        {% for tema in temas %}
        <li>{{tema}}</li>
        {% endfor %}
      {% else %}
        <p> No hay items</p>
      {% endif %}
    </ul>
  </body>
</html>